body {
    background-color: black;
    margin-top: 100px;
}

.login {
    margin: 0 auto;
    width: 300px;
    border: 1px solid red;
    padding: 20px;
    box-shadow: 0px 0px 5px red;
}

.login__user, .login__password {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    border-bottom: 1px solid red;
    margin-bottom: 15px;
    background: none;
    color: white;
}


.login__submit {
    width: 100%;
    background: red;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}
